<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="icon" href="/images/bwom.png" type="image/x-icon"/>
<link rel="stylesheet" href="/stylesheet/blog.css">
    <title>BWOM</title>
</head>
<body>
  <nav>

    <div class="nav-wrapper">
        <div class="logo-wrapper">
            <a href="/"><img src="/images/bwom.png" ></a>
           </div>
        
           <div class="navlinks-wrapper">
            <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/blog">Blogs</a>
        <a href="/term">Terms</a>
           </div>

    </div>
  </nav>
  <div class="hero-wrapper">
    <img src="/images/bwom.png" >
 </div>

 <div class="hero2-wrapper">
    <h1 id="welcomingtext" >Latest <span>BLOGS</span></h1>
    <div class="recent-blogs" >
        <div class="first-recent">
            <img src="/images/full.png" alt="">
        </div>
        <div class="second-recent">
            <span>LATEST DEV BLOG</span>
            <h2>Grocery Simulator - Game released!</h2>
            <p>Grocery  Store Simulator has been release </p>
             <button> <a href="#">Read More ></a></button>
        </div>
    </div>
 </div>


</div>
<footer>
    <div class="linkfooter">
        <a href="#">Home</a>
        <a href="#">Games</a>
        <a href="#">Blogs</a>
        <a href="#">Terms</a>
    </div>

    <div class="linkfooter1">
        <a href="#">Discord</a>
        <a href="#">Roblox</a>
        <a href="#">Cakestax</a>
        <a href="#">DooForce</a>
    </div>

    <div class="copy">
        <p>BWOM &copy;</p>
    </div>
</footer>

   

    




 
     
    
   <script src="/func/functions.js"></script>
</body>
</html>