<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/stylesheet/games.css">
    <title>BWOM</title>
</head>
<body>
  <nav>

    <div class="nav-wrapper">
        <div class="logo-wrapper">
            <img src="/images/bwom.png" >
           </div>
        
           <div class="navlinks-wrapper">
            <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/blog">Blogs</a>
        <a href="/term">Terms</a>
           </div>

    </div>
  </nav>
  <div class="hero-wrapper">
   <img src="/images/bwom.png" >
</div>


    <h1 id="welcomingtext" >What <span>we</span> DO</h1>
    <div class="games-wrapper">
        <div class="grocerygame">
            <div class="image-btn">
                <img src="/images/full.png" class="grocerygame-img">
                <button><a href="https://www.roblox.com/games/14684875878/Grocery-Store-Simulator#!">PLAY <img src="/images/playicon.png" class="play" ></a></button>
            </div>
            <div class="desk-text">
                <p>Play with up to 5 friends in this chaotic and exciting teamwork game simulating the Grocery Store Experience.<br> Order stock, sell it to customers, clean spillages and expand your shop to progress,<br> but beware. Bills are creeping up and you must make sure to have enough money each day to scrape<br> by and keep the shop running. Are you fit for this challenge?</p>
            </div>
        </div>
    </div>

<footer>
    <div class="linkfooter">
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/blog">Blogs</a>
        <a href="#">Terms</a>
    </div>

    <div class="linkfooter1">
        <a href="#">Discord</a>
        <a href="#">Roblox</a>
        <a href="#">Cakestax</a>
        <a href="#">DooForce</a>
    </div>

    <div class="copy">
        <p>BWOM &copy;</p>
    </div>
</footer>

   

    




 
     
    
   <script src="/func/functions.js"></script>
</body>
</html>