<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="/images/bwom.png" type="image/x-icon"/>    
<link rel="stylesheet" href="/stylesheet/style.css">
    <title>BWOM</title>
</head>
<body>
  <nav>

    <div class="nav-wrapper">
        <div class="logo-wrapper">
            <a href="/"><img src="/images/bwom.png" ></a>
           </div>
        
           <div class="navlinks-wrapper">
            <a href="/">Home</a>
            <a href="/games">Games</a>
            
            <a href="/blog">Blogs</a>
            <a href="https://www.freeprivacypolicy.com/live/aef70f90-93cd-4a47-a378-6b3d2db271ce">Terms</a>
           </div>

    </div>
  </nav>
  <div class="hero-wrapper">
   <img src="/images/bwom.png" >
</div>
<div class="hero2-wrapper">
    <h1 id="welcomingtext" >WELCOME TO <span>BWOM</span></h1>
    <div class="about-us">
        <p><span>BWOM</span> is a game development studio <br>originally known as <span>Q0UG Games</span>. We pride<br> ourselves on creating quality titles and <br>cannot wait to create more!</p>
        <img src="/images/rogether.png" >
    </div>


    <div class="recent-blogs" >
        <div class="first-recent">
            <img src="/images/full.png" alt="">
        </div>
        <div class="second-recent">
            <span>LATEST DEV BLOG</span>
            <h2>Grocery Simulator - Game released!</h2>
            <p>Grocery  Store Simulator has been release </p>
             <button> <a href="#">Read More ></a></button>
        </div>
    </div>



    
<div class="award-wrapper">
    <div class="discorr-wrapper">
        <span class="award-text">DISCORD</span>
        <button id="award-btn"><a href="https://discord.gg/zR8tcFAn6p">JOIN NOW</a></button>

    </div>


    <div class="sim-wrapper">
       <img src="/images/full.png" alt="">
        <button class="award-btn"><a href="https://www.roblox.com/games/14684875878/Grocery-Store-Simulator#!">PLAY </a></button>
     </div>

     <div class="roblox-wrapper">
        <span class="discord-text">ROBLOX </span>
        <button class="award-btn"><a href="https://www.roblox.com/groups/32386245/BWOM#!/about">JOIN NOW</a></button>
     </div>

</div>
</div>
<footer>
    <div class="linkfooter">
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/blogs">Blogs</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="linkfooter1">
        <a href="https://discord.gg/zR8tcFAn6p ">Discord</a>
        <a href="https://www.roblox.com/groups/32386245/BWOM#!/about">Roblox</a>
       
    </div>

    <div class="copy">
        <p>BWOM &copy;</p>
    </div>
</footer>

   

    




 
     
    
   <script src="/func/functions.js"></script>
</body>
</html>